/*my style sheet for my website */

:root {
    /*global colors for the site*/
    --middle-blue-green:#95D9DA;
    --maroon:#A53860;
    --blue-bell:#a491d3;
    --languid-lavender:#d2c8e9;
    --brand-main:#ffffff;
    --apricot:#fcc8b2;
    --misty-rose:#ffebe7;
}

#main-footer{
  border:solid black;
    display: block;
    position:absolute;
    bottom:10px;
    left:1px;
    width:98%;
    margin:1%;
    text-align:center;
    z-index: 2;
}
ul {
    list-style: none;
}
li{
    display: inline-block;
    text-align:center;
    padding-right:60px;
    list-style: none;
}
