/*my style sheet for my website */

:root {
    /*global colors for the site*/
    --middle-blue-green:#95D9DA;
    --maroon:#A53860;
    --blue-bell:#a491d3;
    --languid-lavender:#d2c8e9;
    --brand-main:#ffffff;
    --apricot:#fcc8b2;
    --misty-rose:#ffebe7;
}

/*functions that I used more then once so I can change them easily*/
.shadows{
  box-shadow:0px 3px 15px gray;
}
.round-corners{
  border-radius:10px;
}
/**/

#main-body{ /*The colour of the main page */
  background:var(--brand-main);
  max-width:95%;
  margin-left:auto;
  margin-right:auto;
  overflow-x:hidden;
  
}

/*code for the banner */
.banner{
  border:solid black;
  display: block;
  background:var(--middle-blue-green);
  text-align:center;
}
#shop-name{
  font-size:10vw;
  text-align:center;
  color:black;
  text-decoration:none;
}
/*end of banner code */

/*nav bar code */
.top-nav{
  position: sticky;
  top: 0px;
  list-style-type: none;
  margin-top:5px;
  padding: 0;
  overflow: hidden;
  background-color:var(--maroon);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid black;
}

ul {
  list-style: none;
}
li{
  display: inline-block;
  text-align:center;
  list-style: none;
}

.links{
  color:black;
  display: inline-block;
  text-align:center;
  padding:10px;
  list-style: none;
  text-decoration:none;
}
.links:hover{
  background:gray;
}
#search{
  width:80px;
}
/*end of top-nav bar*/

/*main page content of the first page*/
.main-content{
  padding:3px;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  align-content: center;
  margin-left:auto;
  margin-right:auto;
  max-width:90%;
}
.tile{
  background:var(--languid-lavender);
  width:200px;
  height:200px;
  display:inline-block;
  margin:2%;
  text-align:center;
  text-decoration:none;
  Color:black;
  overflow:hidden;
}
.tile:hover{
  box-shadow:0px 3px 10px black;
}

.product-title{
  font-size:15px;
}
.product-text{
  font-size:10px;
  text-align:left;
  font:Sans-serif;
}
.product-price{
  text-align:right;
  font-size:14px;
  margin-right:2%;
}
.product-img{
  width:100%;
}
/*main page content end */

/*Help page*/
#help-content{
  border:solid black 2px;
  margin-top:1%;
  padding:50px;
  background:var(--misty-rose);
}
/*Help page end*/

/*product template page*/
.large-tile{
  background:var(--languid-lavender);
  margin:3%;
  margin-top:2%;
  padding:3%;
 
}
.product-title-template{
  font-size:40px;
}
.product-text-template{
  font-size:20px;
}
.product-price-template{
  font-size:30px;
  text-align:right;
  margin-right:2%;
}
/*product template end*/

/*footer code*/
#main-footer{
  background-color:#606060;
  width:100%;
  border: solid #606060;
  color:white;
  text-align:center;
  border-radius:5px;
}

/*end of footer code*/

/*animation code start*/
#plz-buy-things {
  position:absolute;
  z-index: 3;
  right: -150px;
  bottom: 100px;
  background-color: var(--apricot);
  border: solid var(--blue-bell) 3px;
  border-radius: 100px;
  width: 100px;
  animation: left-slide 7s 4;
  animation-direction: alternate;
  animation-delay: 1s;
  padding: 4px;
}
@keyframes left-slide {
  0% {
    right: -150px;
  }
  75%{
    right: 20px;
  }
  100% {
    right: 20px;
  }
}
/*animation code end*/


/*when you need to have a smaller phone screen*/

.phone-buttons{
  display:none;
  width:100%;
  background:var(--middle-blue-green);
  color:white;
  text-align:center;
  flex-wrap: nowrap;
  border:solid black;
  padding-top:10px;
  padding-bottom:10px;
}

#shop-name-phone-size{
  font-size:30px;
  text-align:center;
  color:black;
  text-decoration:none;
  margin:2px;
  padding-top:10px;
  padding-bottom:10px;
}

.home-buttons{
  margin:2px;
  padding-top:10px;
  padding-bottom:10px;
}
.help-button{
  margin:2px;
  padding-top:10px;
  padding-bottom:10px;
}
.buttons{
  width:10%;
}

/*for smaller screens*/
@media screen and (max-width: 500px){
  .banner{
    display:none;
  }
  .top-nav{
    display:none;
  }
  .phone-buttons{
    display:block;
  }
}
