/*my style sheet for my website */

:root {
    /*global colors for the site*/
    --middle-blue-green:#95D9DA;
    --maroon:#A53860;
    --blue-bell:#a491d3;
    --languid-lavender:#d2c8e9;
    --brand-main:#ffffff;
    --apricot:#fcc8b2;
    --misty-rose:#ffebe7;
}

#main-body{ /*The colour of the main page */
  background:var(--brand-main);
}

/*code for the banner */
#banner{
  border:solid black;
  display: block;
  margin-left:1%;
  margin-right:1%;
  width:97%;
  background:var(--middle-blue-green);
}
#shop-name{
  text-align:center;
}
/*end of banner code */

/*nav bar code */
#top-nav{
  position: sticky;
  top: 0px;
  list-style-type: none;
  margin-top:5px;
  padding: 0;
  overflow: hidden;
  background-color:var(--maroon);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid black;
}

ul {
  list-style: none;
}
a{
  display: inline-block;
  text-align:center;
  padding:10px;
  list-style: none;
}
a:hover{
  background:gray;
}
/*end of top-nav bar*/

/*main content*/
.main-content{
  padding:3px;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  align-content: center;
}
.tile{
  background:var(--languid-lavender);
  width:200px;
  height:200px;
  display:inline-block;
  margin:2%;
  box-shadow:0px 3px 10px gray;
}

/*main content end */


#plz-buy-things {
  position:absolute;
  z-index: 3;
  right: -150px;
  bottom: 100px;
  background-color: var(--apricot);
  border: solid var(--blue-bell) 3px;
  border-radius: 100px;
  width: 100px;
  animation: right-slide 7s 4;
  animation-direction: alternate;
  animation-delay: 1s;
  padding: 4px;
}
@keyframes right-slide {
  0% {
    right: -150px;
  }
  75%{
    right: 20px;
  }
  100% {
    right: 20px;
  }
}
/*End of footer code */
